
.container{
  position: center;
  float: middle;
}

#site-navigation a {
  padding-top: 0.5em;
  color: white;
  display: inline;
  font-family: sans-serif;
  font-size: 1em;
}

#social-links {
  position: center;
  background-color: black;
  width: auto;
  margin-top: -60px;
}

/* Social media icons at bottom */
#social-links img {
  position: static;
  background-color: white;
  width: 2.5em;
  height: auto;
}
