/* Scroll links */
#section1 {
  margin-left: 3em;
  height: 1000px;
  background-color: black;
}

#section2 {
  text-align: right;
  margin-right: 3em;
  height: 1000px;
  background-color: black;
}

#section3 {
    margin-left: 3em;
    height: 1000px;
    background-color: black;
}

/* Top Navi and links */
.container{
  padding-top: 1em;
  position: center;
  float: middle;
}

#site-navigation a {
  color: white;
  display: inline;
  font-family:'Oswald', sans-serif;
  font-size: 1.5em;
  padding: 2.25em;
}

/* Social media icons at bottom page 1*/
#social-links {
  background-color: black;
  width: auto;
  margin-top: -60px;
}

#social-links img {
  background-color: black;
  width: 2em;
  float: right;
  margin-right: 6em;
  margin-left: -4em;
  height: auto;
}
