
html,
body {
    width: 100vw;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

a:link {
  text-decoration: none;
}

p {
  display: inline;
  padding: 20px;
}

/* Tennis ball button*/
.button {
  float: right;
  padding-right: 3em;
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.centered {
  position: absolute;
  padding-right: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: right;
}

/* Title - no effect */
.title {
    width: 100%;
    padding-bottom: 9px;
    font-size: 3em;
    text-align: center;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
/* Divider line */
.divider {
  border-bottom: 5px solid white;
  width: 23%;
  margin: auto;
}

/* Clip text element */
.clip-text {
    font-size: 9.5em;
    font-weight: bold;
    font-family: 'Bungee Shade', cursive;
    letter-spacing: -15px;
    line-height: 0.7;
    position: relative;
    margin: 0.7em;
    padding: 0.5em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background to clip*/
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text (black zone) to clip*/
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .15em;
    right: .15em;
    bottom: .15em;
    left: .15em;
    background-color: #000;
}

.clip-text--no-textzone:before {
    background-position: -.75em 0;
}
.clip-text--no-textzone:after {
    content: none;
}

/* Clip Background images at random */
.clip-text {
    background-image: url(https://placedog.net/1400/290?random);
  }

  /* Meeshie Image About*/
  #MeeshiePhoto {
   display: block;
   margin-right: auto;
   padding-left: 1.75em;
 }

/* Galley photos*/
  div.gallery {
  border: 1px solid black;
}
  div.gallery:hover {
  border: 1px solid #777;
}
  div.gallery img {
  width: 100%;
  height: auto;
}
  div.desc {
  padding: 5px;
  text-align: center;
}
  * {
  box-sizing: border-box;
}
  .responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
  @media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
  @media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
  .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Paragraph styling*/
  mark.green {
    color: green;
    background: none;
}
  mark.red {
    color: red;
    background: none;
}

  /* Social media & Copyright at bottom*/
  .socialmedia{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  padding: 0.25em;
}
  footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: .8em;
  margin-bottom: 0.25em;
}
