
html,
body {
    width: 100vw;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

.wrapper {
    text-align: center;
    width: 100vw;
}

/* Title - no effect */
.title {
    font-size: 3em;
    text-align: center;
    position: relative;
    margin: 2em;
    padding: .5em;
    text-align: center;
    text-transform: uppercase;
}

/* Line under title */
.title:after {
    position: absolute;
    top: 90%;
    left: 35%;
    width: 320px;
    height: 4px;
    content: '';
    background-color: #fff;
}

/* Clip text element */
.clip-text {
    font-size: 9.5em;
    font-weight: bold;
    font-family: 'Bungee Shade', cursive;
    letter-spacing: -15px;
    line-height: 0.7;
    position: relative;
    margin: 0.7em;
    padding: 0.5em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background to clip*/
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text (black zone) to clip*/
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .15em;
    right: .15em;
    bottom: .15em;
    left: .15em;
    background-color: #000;
}

.clip-text--no-textzone:before {
    background-position: -.75em 0;
}
.clip-text--no-textzone:after {
    content: none;
}

/* Clip Background images at random */
.clip-text {
    background-image: url(https://placedog.net/1400/290?random);
  }

/* Galley photos*/
  div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


  /* Copyright at bottom*/
footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: .75em;
  margin-top: 5em;
  margin-bottom: 0.5em;
}
