
 body {
   background-color: white;
   background-repeat: repeat;
   background-attachment: fixed;
 }

 a {
   font-family: 'Arvo-B', serif;
   text-decoration: none;
   color: inherit;
 }


/* Top Navi */
.main-container {
  color: black;
  text-align: center;
  position: center;
  width: 100%;
  margin: 5em auto;
}

footer {
  text-align: center;
  font-size: .75em;
  margin-top: 3em;
}


/* LAYOUT PIECES: */
.container {
  width: 300px;
  height: 400px;
  padding: 20px auto;
  position: relative;
}

.media {
  padding-left: 200px;

}



/* Site information: */
.site-heading {
  width: 50%;
  margin: 4em auto;
  padding: 30px;
  position: relative;
  z-index: 1;
  border: 5px double salmon;
  text-align: center;
}
#site-title {
  font-family: 'Saira Stencil One', cursive;
  margin: .7em;
  line-height: 1em;
  font-size: 5em;
}
#site-slogan {
  font-family: serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: red;
}

.site-logo {
  margin: auto;
  margin-top: -60px;
  display: block;
  postion: relative;
  z-index: 2;
}
.under-img {
  width: 60px;
  height: 60px;
  z-index: 3;
}
.over-img {
  width: 60px;
  height: 60px;
  z-index: 4;
}
.over-img:hover {
  opacity: 0;
}


/* Read more: */
.archives-link {
  min-height: 5em;
}
.button {
  width: 12em;
  margin: auto;
  padding: 0em .5em;
  position: relative;

  background-color: chocolate;
  border-color: #999 #666 #666 #999;
  border-width: 10px 15px 15px 10px;
  border-style: solid;

  text-align: center;
}
.button:active {
  background-color: saddlebrown;
  border-color: #666 #999 #999 #666;
  border-width: 15px 10px 10px 15px;
  border-style: solid;
}
.button:active {
  background-color: saddlebrown;
  border-color: #666 #999 #999 #666;
  border-width: 15px 10px 10px 15px;
  border-style: solid;
}
.button h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
}
.button h4:hover {
  text-decoration: underline overline;
  text-decoration-color: white;
  text-decoration-style: wavy;
}
.button h4:active {
  color: salmon;
  text-decoration: underline overline;
  text-decoration-color: salmon;
  text-decoration-style: wavy;
}
