/*------------------------
| CSS for General Styling |
 ------------------------*/

 /* SITE-WIDE ELEMENTS: */
 body {
   background-color: white;
   background-repeat: repeat;
   background-attachment: fixed;
 }
 h1, span {
   margin: 0;
   font-family: sans-serif;
   color: black;
   text-align: center;
 }

q {
   font-family: 'Arvo-BI', serif;
   font-size: 2em;
 }
 a {
   font-family: 'Arvo-B', serif;
   text-decoration: none;
   color: inherit;
 }
 * {
   font-family: 'Arvo', serif;
   position: relative;
   color: green;
 }


/* LAYOUT AREAS: */
.main-container {
  position: center;
  width: 60%;
  max-width: 100px;
  margin: 3em auto;
  padding: 3em;

}
header {

}
main {
  text-align: justify;
  margin: 3em 0;
}
footer {
  text-align: center;
  font-size: .75em;
  margin-top: 3em;
}


/* LAYOUT PIECES: */
.container {
  width: 200px;
  height: 300px;
  position: relative;
}

.media {
  padding-left: 200px;

}



/* Site information: */
.site-heading {
  width: 50%;
  margin: 4em auto;
  padding: 30px;
  position: relative;
  z-index: 1;

  border: 5px double salmon;

  text-align: center;
}
#site-title {
  margin: .5em;
  line-height: 1em;
  font-size: 3em;
}
#site-slogan {
  font-family: serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: red;
}

.site-logo {
  margin: auto;
  margin-top: -60px;
  display: block;
  postion: relative;
  z-index: 2;
}
.under-img {
  width: 60px;
  height: 60px;
  z-index: 3;
}
.over-img {
  width: 60px;
  height: 60px;
  z-index: 4;
}
.over-img:hover {
  opacity: 0;
}


/* Read more: */
.archives-link {
  min-height: 5em;
}
.button {
  width: 12em;
  margin: auto;
  padding: 0em .5em;
  position: relative;

  background-color: chocolate;
  border-color: #999 #666 #666 #999;
  border-width: 10px 15px 15px 10px;
  border-style: solid;

  text-align: center;
}
.button:active {
  background-color: saddlebrown;
  border-color: #666 #999 #999 #666;
  border-width: 15px 10px 10px 15px;
  border-style: solid;
}
.button:active {
  background-color: saddlebrown;
  border-color: #666 #999 #999 #666;
  border-width: 15px 10px 10px 15px;
  border-style: solid;
}
.button h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
}
.button h4:hover {
  text-decoration: underline overline;
  text-decoration-color: white;
  text-decoration-style: wavy;
}
.button h4:active {
  color: salmon;
  text-decoration: underline overline;
  text-decoration-color: salmon;
  text-decoration-style: wavy;
}


.nav {
    text-align: center;
    font-family: courier;
    size: 20px;
        }
