
 body {
   overflow-x: hidden;
   background-color: white;
   background-repeat: repeat;
   background-attachment: fixed;
 }

 a {
   font-family: 'Arvo-B', serif;
   text-decoration: none;
   color: inherit;
 }


/* Top Navi DONE!*/
.main-container {
  color: black;
  text-align: center;
  position: center;
  width: 100%;
  margin: 5.5em auto;
  letter-spacing: 7px;
  font-weight: 200;
  line-height: 79%;
  padding: 15px;
  margin-top: -0.5em;
}

footer {
  text-align: center;
  font-size: .75em;
  margin-top: 3em;
}

/* LAYOUT PIECES: */
.container {
  width: 300px;
  height: 400px;
  padding: 20px auto;
  position: relative;
}

.media {
  padding-left: 220px;
}

.site-heading {
  width: 55%;
  margin: 3em auto;
  padding: 20px;
  position: relative;
  z-index: 1;
  border: 10px double brown;
  text-align: center;
}
#site-title {
  font-family: 'Saira Stencil One', cursive;
  margin: .7em;
  line-height: 1em;
  font-size: 6em;
  margin-bottom: -5px;
}
#site-slogan {
  font-family: cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: black;
}
